/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .header{
        height: 250px;
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .header{
        height: 250px;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .header{
        height: 250px;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .header{
        height: 250px;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 575px) and (max-width: 767px) {
    .header{
        height: 250px;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 400px) and (max-width: 575px) {
    .header{
        height: 42vw;
    }

    .logo-label{
        font-size: 5.5vw;
        top: 27vw;
        line-height: 2.3em;
    }

    a:hover {
    font-size: 20px;
    }
  }

  @media (min-width: 320px) and (max-width: 400px) {
    .header{
        height: 42vw;
    }
    
    .logo-label{
        top: 24.5vw;
        font-size: 7vw;
    }

    a:hover {
        font-size: 20px;
    }

    .navigation .menu-item a {
        font-size: 15px;
    }
  }